.auth{
     background: linear-gradient(234deg, rgb(70, 143, 246),rgb(103, 103, 202));
     height: 100vh;
     display: flex;
     flex-direction: column;
     gap: 40px;
     align-items: flex-start;
     justify-content: center;
     align-items: center;
}
.auth>h1{
    font-size: 50px;
    font-family: 'Sono',sans-serif;
   
}