.home{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,187.8px);
    grid-template-areas: "nav sect sect sect sect"
                         "nav sect sect sect sect"
                         "nav sect sect sect sect"
                         "nav sect sect sect sect"
                         "nav sect sect sect sect";
    overflow: scroll;
                        
}
.home>div:nth-child(1){
  grid-area: nav;
}
.home>section:nth-child(2){
    grid-area: sect;
  }