.navitems{
    background-color: rgb(81, 134, 249);
    padding: 20px;
  
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 10px;
    -webkit-box-shadow:  3px 6px 21px 0px rgb(184, 184, 184);
    -moz-box-shadow:  3px 6px 21px 0px rgb(150, 154, 154);
    box-shadow:  3px 6px 21px 0px rgb(165, 165, 165);
}
.navitems>a{
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 252, 252);
    font-weight: bold;
}